.buyerprofilelogouticon {
    width: 17px !important;
    height: 17px !important;
}

/* 🔽 Reduce entire toast size */
.cart-remove-toast-wrapper {
    min-height: auto !important;
    /* 🔥 main width control */
    border-radius: 10px !important;
}


/* Toast content */
.cart-remove-toast {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Text */
.cart-remove-text {
    font-size: 14px;
    line-height: 1.4;
}

/* Buttons container */
.cart-remove-actions {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

/* Buttons */
.cart-remove-btn {
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    min-width: 80px;
}

.cart-remove-btn.danger {
    background: #ffffff;
    color: #000000;
}

.cart-remove-btn.cancel {
    background: #ffffff;
}

/* ✅ Mobile optimization */
@media (max-width: 480px) {


    .cart-remove-toast-wrapper {
        max-width: 300px !important;
    }

    .cart-remove-btn {
        padding: 7px;
        font-size: 13px;
    }


}

@media (max-width: 767px) {
    .buyerprofileavatar {
        width: 55px !important;
        height: 55px !important;
        font-size: 22px !important;
    }

    .buyernamefont {
        font-size: 18px !important;
    }

    .buyersubnamesfont {
        font-size: 13px !important;
    }
}

@media (max-width: 576px) {
    .buyerprofileavatar {
        width: 50px !important;
        height: 50px !important;
        font-size: 22px !important;
    }

    .buyernamefont {
        font-size: 17px !important;
    }

    .buyersubnamesfont {
        font-size: 13px !important;
    }

    .profilepagecontainer {
        padding-top: 110px !important;
    }
}

@media (max-width: 480px) {
    .buyerprofileavatar {
        width: 40px !important;
        height: 40px !important;
        font-size: 20px !important;
    }

    .buyernamefont {
        font-size: 15px !important;
    }

    .buyersubnamesfont {
        font-size: 12px !important;
    }

    .profilepagecontainer {
        padding-top: 80px !important;
        padding-bottom: 10px !important;
    }

    .buyerprofileheaderaction {
        flex-direction: column !important;
        align-items: stretch !important;
        gap: 10px !important;
    }

    .buyerprofilerefreshbtn {
        width: 100% !important;
    }

    .buyerprofilelogoutbtn {
        width: 100% !important;
        justify-content: center !important;
        padding: 7px 9px !important;
    }

    .buyerprofilelogouticon {
        width: 15px !important;
        height: 15px !important;
    }

    .buyerprofilemenulabel {
        font-size: 15px !important;
    }

    .buyerprofilemenudesc {
        font-size: 13px !important;
    }

    .buyerprofilestatnum {
        font-size: 18px !important;
    }

    .buyerprofilestatlabel {
        font-size: 13px !important;
    }
}