@media (max-width: 576px) {
    .keralasellersprofileditinput {
        font-size: 14px !important;
    }

    .keralasellersprofiledittitle {
        font-size: 17px !important;
    }

    .keralasellersprofilesavebtn {
        padding: 9px 18px !important;
        font-size: 15px !important;
        min-width: 150px !important;
    }
}

@media (max-width: 480px) {
    .keralasellersprofileditinput {
        font-size: 13px !important;
        padding: 9px 14px !important;
    }

    .keralasellersprofiledittitle {
        font-size: 17px !important;
    }

    .keralasellersprofilesavebtn {
        padding: 9px 18px !important;
        font-size: 15px !important;
        scale: 0.9 !important;
        min-width: 100px !important;
    }
  
}