

@media (max-width: 576px) {
    .sellerregistericoncontainer {
        width: 55px !important;
        height: 55px !important;
    }

    .sellerregistericonsize {
        width: 27px !important;
        height: 27px !important;
    }

    .sellerregistercardtitle {
        font-size: 22px !important;
    }

    .sellerregisterinput {
        width: 100%;
        padding: 14px 5px 14px 48px !important;
        font-size: 15px !important;
    }

    .sellerregisterpasswordinput {
        padding: 14px 5px 12px 48px !important;
        font-size: 15px !important;
    }

    .sellerregistersigninbtn {
        padding: 13px 15px !important;
        min-height: 44px !important;
        font-size: 15px !important;
    }

}

@media (max-width: 480px) {
    .sellerregistericoncontainer {
        width: 50px !important;
        height: 50px !important;
    }


    .sellerregistericonsize {
        width: 25px !important;
        height: 25px !important;
    }

    .sellerregistercardtitle {
        font-size: 20px !important;
    }

    .sellerregistercardsubtitle {
        font-size: 14px !important;
    }

    .sellerregisterinput {
        width: 100%;
        padding: 10px 3px 10px 35px !important;
        font-size: 13px !important;
    }

    .sellerregisterpasswordinput {
        padding: 10px 3px 10px 30px !important;
        font-size: 13px !important;
    }


    .sellerregistereye {
        right: 10px !important;
        top: 7px !important;
    }

    .sellerregistersigninbtn {
        padding: 13px 10px !important;
        min-height: 40px !important;
        font-size: 13px !important;
    }


    .sellerregistericons {
        width: 15px !important;
        height: 15px !important;
        left: 10px !important;
    }

    .sellerregistercountryocde {
        padding: 10px 5px !important;
        font-size: 14px !important;
    }

    .sellerregistertelinput {
        padding: 10px 3px 10px 5px !important;
        font-size: 13px !important;
    }

    .sellerregisterverificationinput {
        font-size: 13px !important;
        padding: 10px 5px 10px 5px !important;
        letter-spacing: 4px !important;
    }

    .sellerregisterbacktodetailbtn {
        font-size: 13px !important;
    }
    .regsellerotptext{
        font-size: 14px !important;
    }
    .regsellerotpinfo{
        gap: 7px !important;
        padding: 11px !important;
    }
}